.grid-layout {
  margin-top: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  width: 85vw;
  height: 30rem;
}
.search {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 40px;
}
